<div>
<form [formGroup]="serieForm" (ngSubmit)="onSubmit(serieForm)">
    <label for="ftitle">
        Título
    </label>
    <input type="text" id="ftitle" formControlName="title" placeholder="Título" required>
    <label for="fdescription">
        Descripción:
    </label>
    <textarea id="fdescription" formControlName="description" placeholder="Descripción" required></textarea>
  
    <label for="fnetwork">
        Plataforma
    </label>
    <input type="text" id="fnetwork" formControlName="network" placeholder="Plataforma" required>

    <button class="button" type="submit">Send</button>
  </form>
</div>
<footer>
    <div class="button"  [routerLink]="['/home']">Volver</div>
</footer>

