<div>
<form [formGroup]="serieForm" (ngSubmit)="onSubmit(serieForm)">
    <label for="ftitle">
        Título
    </label>
    <input type="text" id="ftitle" formControlName="title" placeholder="Título" required>
    <label for="fdescription">
        Descripción:
    </label>
    <textarea id="fdescription" formControlName="description" placeholder="Descripción" required></textarea>
  
    <label for="fnetwork">
        Plataforma
    </label>
    <input type="text" id="fnetwork" formControlName="network" placeholder="Plataforma" required>

    <label for="fimg">Selecciona imagen</label>
    <input type="file" id="fimg" name="img" accept="image/*" formControlName="image">

    <label for="fname">
        Tu nombre
    </label>
    <input type="text" id="fname" formControlName="name" placeholder="Nombre" required>

    <label for="frating">
        Puntuacion
    </label>
    <input type="text" id="frating" formControlName="rating" placeholder="Puntuación" required>

    <button class="button" type="submit">Guardar</button>
  </form>
</div>
<footer>
    <div class="button"  [routerLink]="['/home']">Volver</div>
</footer>

